@define-mixin inner_base {
    display: block;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

@define-mixin all_transition {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}